/**/
.friendCard{
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(67, 89, 102);
    margin: 10px;
    align-content: center;
    padding: auto;
    display: inline-block;
}

/**/
.content{
    text-align: center;
}

/**/
.button{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10;
  border: none;
  border-radius: 5%;
  background-color: cadetblue;
    color: white;
}

/**/
.image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/**/
body{
    text-align: center;
    background-color: #e0ebeb !important;
}


/**/
#pf{
    display: block;
    width: auto;
    height: 50px;
}